body{
margin: 0;
  font-family: "Salsa", cursive;
 
}

.hero-section{
     /* min-height: 100px; */
    background-color: #F99501;
    background-image: url(Image/orange-backdrop\ 1.png);
    background-size: cover;
    background-position: center; 
     padding-inline: 1rem;
}
.jhalar{
  width: 16rem;

}

.paragraph-audio {
    font-size: 46.67px;
    width: 550PX;
  margin-left: 15rem;
}


     audio::-webkit-media-controls-panel {
     background-color: #fbd8a4;
     
     }

     .music-icon {
        width: 500px;
      
        background-color: #fbd8a4;
        font-size:15px;
        border-radius: 45PX;
        display: flex;
        align-items: center;
        justify-content:center;    
     }

     .lakshmi-ganesha-section{
      background-color: #F99501;
       padding-block: 1rem;
       padding-inline: 1rem;
      
     }

    .lakshmi-ganesh-img{
      max-width: 900px;
      width: 100%;
      display: block;
     margin-inline: auto;

    }


  .horizontal-devider{
    max-width:810px;
    display: flex;
    align-items: center;
    margin-inline: auto;
    gap: 11px;
    margin-bottom: 2rem;
    
    
  }


   .horizontal-line{
    width: 468px;
    height: 2px;
    background-color: #FBD8A4;


   }

    .circle {
     width: 10px;
     height: 10px;
background-color: white;
border-radius: 50%;
flex-shrink: 0;
    }
.lakshmi-ganesha-section h2{
font-family: "Style Script", cursive;
       font-size: 54px;
       font-weight: 400;
       text-align: center;
}

.white-card{
  max-width: 420px;
  padding:4rem;
  background-color: white;
  border-radius: 25px;
}

.white-card{
padding-block: 1rem;
padding-left: 1rem;

}
.white-card-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}
.white-card p{
  font-size:1.25rem;
}
.little-girl{
  width: 260px;
  margin-left: -5rem;
}

.lakshmi-ganesha-card{
  background-color: white;
   border-radius: 25px;
   padding:4rem;
   display: flex;
    max-width: 772px;
      margin-inline: auto;
}

.lakshmi-ganesha-card img{
    width: 50%

}
    
.horizontal-devider{
    max-width:810px;
    display: flex;
    align-items: center;
    margin-inline: auto;
    gap: 11px;
    margin-bottom: 2rem; 
  }

.thank-you-text{
    max-width: 900px;
    width: 100%;
    margin-inline: auto;
  padding-left: 0;
  
}

  .thank-you-text h2{
    text-align: left;
  }
  
.my-name{
  text-align: right;
  font-size: 14px;
}

@media(max-width:850px){
  .paragraph-audio{
    display: block;
    margin-left: auto;
  }
     .Music-icon,
    .second-deepak,
    .soulful-music{
        display: none;
     }
  .first-deepak{
    display: block;
  }
  .white-card p{
  font-size:1.25rem;
}
.little-girl{
  width: 160px;
}

.lakshmi-ganesha-card{
  padding: 2rem;
}
.music-icon{
  display: block;
  width: 100%;
}

}


@media(max-width:500px){
  .paragraph-audio{
     max-width: 100%;
    font-size: 32px;
  }
  .first-deepak{
    width: 100%;
  }
  .lakshmi-ganesha-section h2{
     font-size: 32px;
  }
    .white-card p{
  font-size:1rem;

}

   


/* @media(width < 840px) {
  .second-deepak{
    display: none;
  }
} */
